@model ContactMessagesViewModel
@section Scripts
{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
<title>
	Bize Ulaşın
</title>
<div class="page-wrapper">
	<div class="page-content">
		<section class="py-4">
			<div class="container">
				<h3 class="d-none">Google Map</h3>
				<div class="contact-map p-3 bg-light rounded-0 shadow-none">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.095290437512!2d28.995698712326583!3d41.06690967122279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7913b7b9b3f%3A0x154c9d69c759851e!2zSW5mb3RlY2ggQWNhZGVteSBZYXrEsWzEsW0gS3Vyc3UgKMWeacWfbGkvTWVjaWRpeWVrw7Z5IMWedWJlKQ!5e0!3m2!1str!2str!4v1706173345743!5m2!1str!2str" class="w-100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</section>
		<section class="py-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="p-3 bg-light">
							@if (TempData["SuccessMessage"] != null)
							{
								<div class="alert alert-success" role="alert">
									@TempData["SuccessMessage"]
								</div>
							}
							<form asp-controller="Home" asp-action="ContactUs" method="post">
								<div class="form-body">
									<h6 class="mb-0 text-uppercase">Bize Ulaşın</h6>
									<div class="my-3 border-bottom"></div>
									<div class="mb-3">
										<label asp-for="@Model.NameSurname" class="form-label"></label>
										<input asp-for="@Model.NameSurname" class="form-control" />
										<span asp-validation-for="@Model.NameSurname" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label asp-for="@Model.Email" class="form-label"></label>
										<input asp-for="@Model.Email" class="form-control" />
										<span asp-validation-for="@Model.Email" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label asp-for="@Model.Message" class="form-label"></label>
										<textarea asp-for="@Model.Message" class="form-control" rows="4" cols="4"></textarea>
										<span asp-validation-for="@Model.Message" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<button type="submit" class="btn btn-dark btn-ecomm">Gönder</button>
									</div>
								</div>
								@Html.AntiForgeryToken()
							</form>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="p-3 bg-light">
							<div class="address mb-3">
								<h6 class="mb-0 text-uppercase">Adres</h6>
								<p class="mb-0 font-12">Osmanağa Mah. Söğütlü Çeşme Cd. No:31 Kadıköy/İstanbul</p>
							</div>
							<div class="phone mb-3">
								<h6 class="mb-0 text-uppercase">TELEFON</h6>
								<p class="mb-0 font-13">+90 (212)-348-3232</p>
							</div>
							<div class="email mb-3">
								<h6 class="mb-0 text-uppercase">E-Posta</h6>
								<p class="mb-0 font-13">info@ozeronur.com</p>
							</div>
							<div class="working-days mb-3">
								<h6 class="mb-0 text-uppercase">Çalışma Saatleri</h6>
								<p class="mb-0 font-13">PZT - PZR / 9:30 - 18:30</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>