@model ProductPicture
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<title>
    Ürün Resmi Düzenleme
</title>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                        </div>
                        <h4 class="page-title">Düzenlenen Resim : @Model.Name</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">


                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form enctype="multipart/form-data" class="needs-validation" asp-area="Admin" asp-controller="ProductPicture" asp-action="Update" method="post">
                                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                                <input asp-for="@Model.ID" type="hidden" />
                                <input asp-for="@Model.ProductID" type="hidden" />
                                <input asp-for="@Model.Picture" type="hidden" />
                                <div class="col-12">
                                    <label asp-for="@Model.Name" class="form-label"></label>
                                    <input asp-for="@Model.Name" class="form-control ">
                                    <span class="text-danger" asp-validation-for="@Model.Name"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="@Model.Picture" class="form-label"></label>
                                    <input id="fileInput" accept="image/*, .gif" type="file" asp-for="@Model.Picture" class="form-control">
                                    
                                    <script>
                                        document.getElementById('fileInput').addEventListener('change', function () {
                                            var file = this.files[0];
                                            var fileType = file.type.split('/')[0];

                                            if (fileType === 'image' || fileType === 'video' || file.type === 'image/gif') {
                                                var reader = new FileReader();

                                                reader.onload = function (e) {
                                                    var previewElement = document.createElement(fileType === 'image' ? 'img' : 'video');
                                                    previewElement.style.maxWidth = '300px';
                                                    previewElement.style.maxHeight = '300px';
                                                    previewElement.src = e.target.result; 
                                                    previewElement.controls = true; 

                                                    var previewContainer = document.getElementById('preview');
                                                    previewContainer.innerHTML = '';
                                                    previewContainer.appendChild(previewElement);  
                                                };

                                                reader.readAsDataURL(file); 
                                            } else {
                                                alert('Geçersiz dosya türü! Lütfen resim veya GIF dosyası yükleyin.');
                                            }
                                        });
                                    </script>
                                    <span class="text-danger" asp-validation-for="@Model.Picture"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="@Model.Picture" class="form-label">Mevcut Dosya: </label>
                                    <picture class="form-control">
                                        <source srcset="@Model.Picture" type="image/svg+xml">
                                        <img src="@Model.Picture" class="img-fluid img-thumbnail" alt="@Model.Name">
                                    </picture>
                                </div>
                                <div class="col-12">
                                    <label asp-for="@Model.Picture" class="form-label">Yeni Dosya Önizleme: </label>
                                    <div class="form-control" id="preview"></div>
                                </div>
                                <div class="col-12">
                                    <label asp-for="@Model.DisplayIndex" class="form-label"></label>
                                    <input asp-for="@Model.DisplayIndex" class="form-control ">
                                    <span class="text-danger" asp-validation-for="@Model.DisplayIndex"></span>
                                </div>
                                <button class="btn btn-primary" type="submit">Değişiklikleri Kaydet</button>
                                @Html.AntiForgeryToken()
                            </form>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

</div>