@model ForgotPasswordViewModel
<title>
	Şifremi Unuttum
</title>
<section class="">
	<div class="container">
		<div class="authentication-forgot d-flex align-items-center justify-content-center my-5">
			<form asp-controller="User" asp-action="ForgotPassword" method="post">	
				<div class="card forgot-box">
					<div class="card-body">
						<div class="p-4 rounded  border">
							<div class="text-center">
								<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
								<img src="/assets/images/icons/forgot-2.png" width="120" alt="" />
								@if (TempData["Success"] != null)
								{
									<div class="alert alert-success" role="alert">
										@TempData["Success"]
									</div>
								}
							</div>
							<h4 class="mt-5 font-weight-bold">Şifremi Unuttum</h4>
							<p class="">Sıfırlama Linki E-Posta Adresinize Gönderilecektir.</p>
							<div class="my-4">
								<label asp-for="@Model.Email" class="form-label"></label>
								<input asp-for="@Model.Email" class="form-control form-control-lg" placeholder="E-Posta" />
								<span asp-validation-for="@Model.Email" class="text-danger"></span>
							</div>
							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-dark btn-lg">Gönder</button> <a asp-controller="User" asp-action="SignIn" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Giriş Ekranına Dön</a>
							</div>
						</div>
					</div>
				</div>
				@Html.AntiForgeryToken()
			</form>
		</div>
	</div>
</section>