@model ResetPasswordViewModel
<title>
	Şifreyi Sıfırla
</title>
<section class="">
	<div class="container">
		<div class="authentication-reset-password d-flex align-items-center justify-content-center my-5">
			<div class="row">
				<div class="col-12 col-lg-10 mx-auto">
					<div class="card">
						<div class="row g-0">
							<div class="col-lg-5 border-end">
								<form asp-controller="User" asp-action="ResetPassword" method="post">
									<div class="card-body">
										<div class="p-5">
											<h4 class="font-weight-bold">Yeni Şifre Belirle</h4>
											<p class="">Şifre değiştirme talebinizi aldık. Lütfen yeni şifrenizi giriniz!</p>
											<div class="mb-3 mt-5">
												<label asp-for="@Model.NewPassword"  class="form-label"></label>
												<div class="input-group" id="show_hide_password">
													<input type="password" asp-for="@Model.NewPassword" class="form-control border-end-0">
													<a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
												<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
											</div>
											<div class="mb-3">
												<label asp-for=@Model.ConfirmPassword class="form-label"></label>
												<div class="input-group" id="show_hide_password">
													<input type="password" asp-for="@Model.ConfirmPassword" class="form-control border-end-0">
													<a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
												<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
											</div>
											<div class="d-grid gap-2">
												<button type="submit" class="btn btn-dark">Onayla</button> <a asp-controller="User" asp-action="SignIn" class="btn btn-light"><i class='bx bx-arrow-back mr-1'></i>Giriş Ekranına Dön</a>
												<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
												@if (TempData["Success"] != null)
												{
													<div class="alert alert-success" role="alert">
														@TempData["Success"]
													</div>
												}
											</div>
										</div>
									</div>
									@Html.AntiForgeryToken()
								</form>
							</div>
							<div class="col-lg-7">
								<img src="/assets/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="ResetPassword">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>