@model SignInViewModel
<!--start page wrapper -->
<title>
	Giriş Yap
</title>
<div class="page-wrapper">
	<div class="page-content">
		<!--start breadcrumb-->
		<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
			<div class="container">
				<div class="page-breadcrumb d-flex align-items-center">
					<h3 class="breadcrumb-title pe-3">Giriş Yap</h3>
				</div>
			</div>
		</section>
		<!--end breadcrumb-->
		<!--start shop cart-->
		<section class="">
			<div class="container">
				<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5">
					<div class="row row-cols-1 row-cols-xl-2">
						<div class="col mx-auto">
							<div class="card">
								<div class="card-body">
									<div class="border p-4 rounded">
										<div class="text-center">
											<h3 class="">Giriş</h3>
											<p>
												Hesabınız Yok Mu? <a asp-controller="User" asp-action="SignUp">Kayıt Ol</a>
											</p>
										</div>
										<div class="d-grid">
											<a class="btn my-4 shadow-sm btn-white" >
												<span class="d-flex justify-content-center align-items-center">
													<i class="bx bxl-google"></i>
													<span>Google ile Giriş Yap</span>
												</span>
											</a> <a  class="btn btn-white"><i class="bx bxl-facebook"></i>Facebook ile Giriş Yap</a>
										</div>
										<div class="login-separater text-center mb-4">
											<span>E-Posta İle Giriş Yap</span>
											<hr />
										</div>
										<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
										</div>
										<div class="form-body">
											@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
											{
												<div class="alert alert-success" role="alert">
													@ViewBag.SuccessMessage
												</div>
											}
											<form class="row g-3" asp-controller="User" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
												<div class="col-12">
													<label asp-for="@Model.Email" class="form-label"></label>
													<input asp-for="@Model.Email" type="email" class="form-control">
													<span asp-validation-for="@Model.Email" class="text-danger"></span>
												</div>
												<div class="col-12">
													<label asp-for="@Model.Password" class="form-label"></label>
													<div class="input-group" id="show_hide_password">
														<input type="password" class="form-control border-end-0" asp-for="@Model.Password">
														<a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
														
													</div>
													<span asp-validation-for="@Model.Password" class="text-danger"></span>
												</div>
												<div class="col-md-6">
													<div class="form-check form-switch">
														<input class="form-check-input" type="checkbox" asp-for="@Model.RememberMe">
														<label class="form-check-label" for="flexSwitchCheckChecked">Beni Hatırla</label>
													</div>
												</div>
												<div class="col-md-6 text-end">
													<a asp-controller="User" asp-action="ForgotPassword">Şifremi Unuttum</a>
												</div>
												<div class="col-12">
													<div class="d-grid">
														<button type="submit" class="btn btn-dark"><i class="bx bxs-lock-open"></i>Giriş</button>
													</div>
												</div>
												@Html.AntiForgeryToken()
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!--end page wrapper -->