@model ICollection<ContactMessagesViewModel>
<title>Mesaj Yönetimi</title>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Mesajlar</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["Success"]
                                </div>
                            }
                            
                            <div class="responsive-table-plugin">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                                        <table id="tech-companies-1" class="table table-striped">

                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th data-priority="1">Ad Soyad</th>
                                                    <th data-priority="3">E-Posta</th>
                                                    <th data-priority="1">Mesaj</th>
                                                    <th data-priority="1">Oluşturulma Tarihi</th>
                                                    <th data-priority="1">Yanıtlanma Tarihi</th>
                                                    <th data-priority="1"></th>
                                                    <th data-priority="1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    @foreach (var msg in Model)
                                                    {

                                                        <tr>
                                                            <td>@msg.ID</td>
                                                            <td>@msg.NameSurname</td>
                                                            <td>@msg.Email</td>
                                                            <td>
                                                                @if (msg.Message.Length > 25)
                                                                {
                                                                    string a = @msg.Message.Substring(0, 20) + "...";
                                                                    Write(a);
                                                                }
                                                                else
                                                                {
                                                                    @msg.Message
                                                                }
                                                            </td>
                                                            <td>@msg.CreatedDate</td>
                                                            <td>@msg.RepliedDate</td>
                                                            <td><a asp-area="Admin" asp-controller="ContactMessages" asp-action="RemoveRepliedMsg" asp-route-msgId="@msg.ID" class="btn btn-danger btn-sm rounded-0">Sil</a></td>
                                                            <td><a asp-area="Admin" asp-controller="ContactMessages" asp-action="ViewRepliedMsg" asp-route-msgId="@msg.ID" class="btn btn-primary btn-sm rounded-0">Görüntüle</a></td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div> <!-- end .table-responsive -->

                                </div> <!-- end .table-rep-plugin-->
                            </div> <!-- end .responsive-table-plugin-->
                        </div>
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->


</div>